/* HTML Elements */

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-weight: bolder;
}

/* Title Section */

.big-heading {
  color: #FFFFFF;
  font-family: "Sacramento", sans-serif;
  font-size: 5.625rem;
  font-weight: bolder;
}

.title-section h2 {
  font-size: 2.5rem;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

.profile-img {
  width: 30%;
}

/* About Me Section */

.about-section {
  text-align: left;
  line-height: 2;
}

.about-heading {
  text-align: center;
}

.about-me, .programming, .tinkering {
  margin: 20px auto;
}

.web-coding-img {
  height: 10vh;
  float: left;
  padding-right: 20px;
  width: 10vw;
}

.mobile-coding-img {
  height: 13vh;
  float: left;
  width: 8vw;
}

.microcontroller-img {
  height: 15vh;
  float: left;
  padding-right: 20px;
  width: 10vw;
}

/* Contact Section */

.contact-container {
  padding: 20px;
}

.contact-header, .contact-header-description {
  color: #EEEEEE;
  font-weight: lighter;
}

.social-icons {
  font-size: 1.5rem;
  padding: 10px;
}

.phi {
  padding-bottom: 10px;
  width: 2.5vw;
}

/* Navbar Section */

.navbar {
  background-color: #398AB9;
}

/* Section Section */

.colored-section {
  background-color: #398AB9;
}

.white-section {
  background-color: #EEEEEE;
}

/* Footer */

.footer {
  color: #398AB9;
  background-color: #EEEEEE;
}

/* Media Querie */

@media (max-width: 991px) {
  .about-me, .programming, .tinkering {
    margin: 20px auto;
  }

  .web-coding-img {
    height: 40%;
    float: left;
    padding-right: 20px;
    width: 40%;
  }

  .mobile-coding-img {
    height: 65%;
    float: right;
    width: 45%;
  }

  .microcontroller-img {
    height: 95%;
    float: left;
    padding-right: 20px;
    width: 20%;
  }

  .social-icons {
    font-size: 1.5rem;
    padding: 10px;
  }

  .phi {
    padding-bottom: 10px;
    width: 3.5vw;
  }
}

@media (max-width: 767px) {
  .about-me, .programming, .tinkering {
    margin: 20px auto;
  }

  .web-coding-img {
    height: 15vh;
    float: left;
    padding-right: 20px;
    width: 30vw;
  }

  .mobile-coding-img {
    height: 20vh;
    width: 30vw;
  }

  .microcontroller-img {
    height: 21vh;
    float: left;
    padding-right: 20px;
    width: 36vw;
  }

  .social-icons {
    font-size: 1.5rem;
    padding: 10px;
  }

  .phi {
    padding-bottom: 10px;
    width: 4.5vw;
  }
}

/* Under Construction Section */

.under-construction {
  background: repeating-linear-gradient(
    -45deg,
    yellow 0% 1%,
    black 1% 2%
    );
  display: flex;
  justify-content: center;
  height: 50px;
}

.heading-under-construction {
  background-color: yellow;
  border: 2px solid black;
  margin: auto;
  width: 60%;
}
