/*---------------- ELEMENT SELECTORS ------------------*/

body {
  /* background-color: #EB6440; */
  background: repeating-linear-gradient(
    -45deg,
    yellow 0% 1%,
    black 1% 2%
    );
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

nav {
  /* background-color: #EB6440; */
  background: repeating-linear-gradient(
    -45deg,
    yellow 0% 1%,
    black 1% 2%
    );
  /* color: ghostwhite; */
  color: white;
  display: flex;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

h2 {
  margin-top: 0;
}

footer {
  padding: 20px 0 20px;
  text-align: center;
}

/*---------------- CLASS SELECTORS ------------------*/

.navbar-links {
  color: inherit;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.navbar-links:hover {
  background-color: #EFF5F5;
  color: black;
}

.icon-references {
  color: #D6E4E5;
  display: block;
  font-size: 10px;
  text-decoration: none;
}

.icon-references:hover {
  color: #EFF5F5;
}

.programming-img {
  float: left;
  height: 20%;
  margin-right: 30px;
  width: 20%;
}

.tinker-img {
  float: right;
  height: 40%;
  margin-left: 30px;
  width: 40%;
}

/*---------------- ID SELECTORS ------------------*/

#welcome-section {
  background-color: #EFF5F5;
  color: #19191d;
  height: 100vh;
}

#welcome-section-name {
  font-size: 5.625rem;
  font-weight: bold;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
}

#welcome-section-description {
  font-size: 2.5rem;
  margin-top: 0;
  font-family: 'Tangerine', cursive;
}

#profile-image {
  border-radius: 10%;
  height: 200px;
  width: 200px;
}

#about-section {
  background-color: #EFF5F5;
}

#about-section-description {
  line-height: 2;
  text-align: justify;
  width: 30%;
}

#projects {
  background-color: #EFF5F5;
  color: #19191d;
  display: block;
  text-align: center;
}

#contact {
  background-color: #EFF5F5;
}

#copyright {
  font-size: 1rem;
}

#profile-link {
  display: flex;
  font-size: 50px;
  justify-content: space-around;
  width: 50%;
}

#phi {
  height: 58px;
  width: 58px;
}

#construction {
  color: black;
}

#programming {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

#tinker {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

/*---------------- MEDIA QUERIES ------------------*/

@media screen and (max-width: 600px) {
  nav {
    background-color: gray;
  }
}
